extends base.pug

block scripts 
    script(src="../static/index.js")

block style 
    style
      include ../static/styleBooks.css

block body 

    section#Children-corner 
        h1 Children Corner 
        h3 Action & Adventure

        .box1 
            .card 
                img(src="../static/images/book1.jpg", alt="book")
                h4  The Eyes And The Impossible 
                p Dave Eggers
                p $18.99
            .card 
                img(src="../static/images/book2.jpg", alt="book")
                h4  Good Work Secet Seven 
                p Enid Blyton
                p $299.00
            .card 
                img(src="../static/images/book3.jpg", alt="book")
                h4  Go Ahead, Secret Seven
                p Enid Blyton
                p $239.45
            .card 
                img(src="../static/images/book4.jpg", alt="book")
                h4  The Secret Seven Adventure 
                p Enid Blyton 
                p $243.87


        h3 Children Comics

        .box2 
            .card 
                img(src="../static/images/book5.jpg", alt="book")
                h4 Archie & Friends 
                p Archie Superstars
                p $10.22
            .card 
                img(src="../static/images/book6.jpg", alt="book")
                h4 Suprisingly Sarah (Emmie & Friends) 
                p Terri Libenson
                p $15.76
            .card 
                img(src="../static/images/book7.jpg", alt="book")
                h4 Looshkin 
                p Jamie Smart
                p $11.64
            .card 
                img(src="../static/images/book8.jpg", alt="book")
                h4 Karen's Haircut 
                p Ann M. Martin 
                p $17.44


        h3 Children Fiction
        .box3 
            .card 
                img(src="../static/images/book9.jpg", alt="book")
                h4 Uncle Fred Is a Knucklehead 
                p Dan Gutman
                p $6.99
            .card 
                img(src="../static/images/book10.jpg", alt="book")
                h4 Megamonster 
                p David William
                p $15.99
            .card 
                img(src="../static/images/book11.jpg", alt="book")
                h4 Dork Diaries 
                p Rachel Renee Russell
                p $7.66
            .card 
                img(src="../static/images/book12.jpg", alt="book")
                h4 Thirst  
                p Varsha Bajaj 
                p $8.90


        